main {
  --clr-primary: #45dfeb;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background: rgb(231, 232, 233);
  background: linear-gradient(
    135deg,
    rgba(231, 232, 233, 1) 0%,
    rgba(234, 236, 239, 1) 100%
  );
}

.btn {
  --size: 240px;
  --clr-shadow-dark: #2e3136;
  --clr-shadow-light: #ffffff;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: var(--size);
  min-height: var(--size);
  width: var(--size);
  height: var(--size);

  border-radius: 100rem;
  font-size: 40px;
  cursor: pointer;

  border: none;
  outline: none;
  background: transparent;
}

.btn .inner,
.btn .shadows:before,
.btn .shadows:after {
  --size-ratio: 0.5;

  width: calc(var(--size-ratio) * var(--size));
  height: calc(var(--size-ratio) * var(--size));
  min-width: calc(var(--size-ratio) * var(--size));
  min-height: calc(var(--size-ratio) * var(--size));

  border-radius: inherit;
}

.btn .shadows {
  border-radius: inherit;
}

.btn .inner {
  position: relative;
  z-index: 2;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #eaebed;
}

.btn .shadows:before,
.btn .shadows:after {
  --pos-margin: 0.3;

  content: "";
  position: absolute;
  z-index: 0;
  transition: background-color 120ms ease;
}

.btn .shadows:before {
  bottom: calc(var(--pos-margin) * var(--size));
  right: calc(var(--pos-margin) * var(--size));
  background-color: var(--clr-shadow-light);
}

.btn .shadows:after {
  top: calc(var(--pos-margin) * var(--size));
  left: calc(var(--pos-margin) * var(--size));
  background-color: var(--clr-shadow-dark);
}

.btn .blur {
  --size-ratio: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: calc(var(--size-ratio) * var(--size));
  height: calc(var(--size-ratio) * var(--size));
  min-width: calc(var(--size-ratio) * var(--size));
  min-height: calc(var(--size-ratio) * var(--size));

  /* border-radius: inherit; */

  backdrop-filter: blur(50px);
  /* background-color: #bfc0c3; */
  z-index: 3;
}

.btn .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: #bfc0c3;
  text-shadow: -2px -2px 4px transparent;
  transition: color text-shadow 180ms ease, text-shadow 240ms ease;
}

/* --------------------------- */

.btn:active .shadows:before {
  background-color: var(--clr-shadow-dark);
}

.btn:active .shadows:after {
  background-color: var(--clr-shadow-light);
}

.btn:active .icon {
  color: var(--clr-primary);
  text-shadow: -2px -2px 6px #45e0eb52;
}

/* --------------------------- */

.debug .btn {
  border: 1px solid red;
}

.debug.btn .inner,
.debug.btn:before,
.debug .btn:after {
  border: 1px solid red;
}

.debug .btn .blur {
  border: 1px solid green;
}
